

<div class="subject">
  <h1 class="main">******* Time, Date of System and Gregorian date *******</h1>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <p class="header bg-time">Current System Time:</p>
      <input matInput disabled class="input-date" value="{{ currentTime }}" />
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <p class="header bg-date">Current System Date:</p>
      <input matInput disabled class="input-date" value="{{ currentSystemDate }}" />
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <p class="header bg-jalali">Current Jalali Date:</p>
      <input matInput disabled class="input-date" value="{{ Jdate }}" />
    </mat-form-field>
  </form>
  


</div>
